@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: var(--font-main);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.paper-dark-bg {
  background-color: #1a1a1a;

  background-repeat: repeat;
  background-size: auto;
}

@keyframes fadein-slow {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-slower {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 화면이 서서히 나타나는 애니메이션 */
.animate-fadein-slow {
  animation: fadein-slow 1.2s ease-out forwards;
}

/* 화면이 서서히 나타나는 애니메이션 */
.animate-fadein-slower {
  animation: fadein-slower 1.8s ease-out forwards;
}
